@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

:root {
  --color-main: rgb(0, 132, 255);
  --color-accent: rgb(219, 175, 54);
  --color-lightgrey: rgb(210, 210, 214);
  --color-sidebar: var(--color-main);
  --color-sidebar-hover: rgba(0, 0, 0, 0.2);
  --color-main-bg: var(--color-lightgrey);
  --color-input-bg: var(--color-lightgrey);
  --icon-size-profile: 42px;
  --icon-size-trending: 42px;
  --icon-size-welcome: 64px;
  --card-min-width: 260px;
  --card-min-height: 175px;
  /* --card-max-width: 350px; */
}

html,
body {
  margin: 0;
  height: 100%;
}

.body-layout-container {
  display: grid;
  grid-template-rows: 1fr 5fr;
  grid-template-columns: 1fr 4fr;
  grid-template-areas:
    'sidebar header'
    'sidebar main';
  height: 100%;
}

.image-round-container {
  position: relative;
  flex-shrink: 0;
  border-radius: 50%;
  height: 100%;
  overflow: hidden;
}

/* ------------- */
/* -- Header  -- */
/* ------------- */

.header {
  grid-area: header;
  box-shadow: 3px 3px 3px black;
  padding: 10px 26px 0px 26px;
}

.header-layout-container {
  display: grid;
  grid-template-rows: 1fr 2fr;
  grid-template-columns: 2fr 1fr;
  grid-template-areas:
    'search-bar status-bar'
    'welcome project-options';
  gap: 0.5rem;
  height: 100%;
}

.search-bar {
  display: flex;
  grid-area: search-bar;
  align-items: center;
  gap: 10px;
}

.search-bar input[type='search'] {
  flex-grow: 1;
  border-style: none;
  border-radius: 15px;
  background-color: var(--color-input-bg);
  max-width: 675px;
  height: 1.7rem;
}

.status-bar {
  display: flex;
  grid-area: status-bar;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
  font-weight: 800;
  font-size: 1.2rem;
}

.status-bar .image-round-container {
  width: var(--icon-size-profile);
  height: var(--icon-size-profile);
}

.status-bar img,
.welcome img,
.profile-pic img {
  display: inline;
  margin: 0 auto;
  height: 100%;
}

.welcome {
  display: flex;
  grid-area: welcome;
  align-items: center;
  gap: 1rem;
}

.welcome .image-round-container {
  width: var(--icon-size-welcome);
  height: var(--icon-size-welcome);
}

.greeting p {
  font-weight: 600;
  font-size: 0.9rem;
}

.greeting span {
  font-weight: 800;
  font-size: 1.8rem;
  white-space: nowrap;
}

.project-options {
  display: flex;
  grid-area: project-options;
  flex: 0 0 100%;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
}

.project-option {
  border: 1px solid var(--color-main);
  border-radius: 20px;
  background-color: var(--color-main);
  width: 90px;
  height: 38px;
  color: white;
  font-weight: 700;
  font-size: 16px;
}

/* ------------- */
/* -- Sidebar -- */
/* ------------- */

.sidebar {
  display: flex;
  grid-area: sidebar;
  flex-direction: column;
  gap: 1.8rem;
  background-color: var(--color-main);
}

.sidebar * {
  color: white;
}

.sidebar-title {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 15px;
}

.sidebar .sidebar-title .material-icons {
  font-size: 48px;
}

.sidebar-main-options,
.sidebar-secondary-options {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-flow: row;
}

.sidebar-option {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-style: none;
  background: none;
  padding: 10px;
  font-weight: bold;
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
}

.sidebar-option:hover {
  background-color: var(--color-sidebar-hover);
}

.sidebar-option .material-icons {
  margin-right: 10px;
  margin-left: 10px;
}

/* ------------- */
/* ---  main --- */
/* ------------- */

.main {
  grid-area: main;
  background-color: var(--color-main-bg);
}

.main-layout-container {
  display: grid;
  grid-template: auto auto / 3fr 1fr;
  grid-template-areas:
    'project-section announcements'
    'project-section trending';
  gap: 15px;
  padding-top: 15px;
  padding-right: 15px;
  padding-left: 15px;
}

main h2 {
  padding: 10px 0;
}

.project-section {
  grid-row: 1 / 3;
}

/* ------------- */
/* ---  card --- */
/* ------------- */

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(var(--card-min-width), 1fr));
  grid-area: card-container;
  gap: 20px;
}

.card {
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.288);
  border-left: 10px solid var(--color-accent);
  border-radius: 8px;
  background-color: white;
  min-height: var(--card-min-height);
}

/* announcement */

.announcement {
  border-bottom: 1px solid var(--color-input-bg);
  padding-top: 20px;
  padding-bottom: 20px;
}
.announcement:first-child {
  padding-top: 0px;
}
.announcement:last-child {
  border-bottom: none;
  padding-bottom: 0px;
}

.announcements-section {
  grid-area: announcements;
  height: fit-content;
}

.announcements-container,
.trending-container {
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.288);
  border-radius: 8px;
  background-color: white;
  padding: 20px 20px;
}

.announcement p {
  font-size: 0.8rem;
}

/* trending */

.trending-container {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
}
.trending-section {
  grid-area: trending;
}

.trending-profile {
  display: flex;
  gap: 0.9rem;
}

.profile-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.profile-info .name {
  font-size: 0.8rem;
}

.profile-info .project-name {
  color: rgb(87, 87, 87);
  font-size: 0.9rem;
}

.trending-section .image-round-container {
  width: var(--icon-size-trending);
  height: var(--icon-size-trending);
}

@media only screen and (max-width: 900px) {
}
